* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}
body {
    display: flex;
    height: 100vh;
    background-color: #eaf0fb;
}
.menu-lateral {
    width: 230px;
    background: #fff;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.logo {
    width: 60px;
}
.logo-area h1 {
    font-size: 1.3em;
    margin-top: 5px;
    font-weight: 700;
}
.menu-lateral nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}
.menu-lateral a {
    text-decoration: none;
    width: 80%;
    text-align: left;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 10px;
    font-weight: 600;
    color: #000;
    transition: 0.3s;
}
.menu-lateral a:hover,
.menu-lateral a.ativo {
    background-color: #cfdaf7;
}
.conteudo {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}
.topo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.titulo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}
.icone {
    font-size: 1.5em;
}
.area-cardapio {
    margin-top: 20px;
}
.tabela-cardapio {
    width: 100%;
    background: #dde3f7;
    border-radius: 25px;
    border-collapse: collapse;
    overflow: hidden;
}
.tabela-cardapio th,
.tabela-cardapio td {
    border: 1px solid #aaa;
    padding: 18px;
    text-align: center;
    font-size: 0.95em;
}
.tabela-cardapio th {
    background: #dde3f7;
    font-weight: bold;
}
.inp {
    width: 95%;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 6px;
    font-size: 0.9em;
}
.confirmar {
    margin-top: 20px;
    float: right;
    padding: 12px 28px;
    background: #3b5bfd;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.confirmar:hover {
    transform: scale(1.05);
    background-color: #2f49d5;
}
