* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}
body {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #eaf0fb;
}
.menu-lateral {
    width: 230px;
    background: #fff;
    border-right: 1px solid #ccc;
    padding-top: 20px;
    text-align: center;
}
.logo { width: 60px; }
.logo-area h1 { margin-top: 5px; }
.menu-lateral nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu-lateral a {
    background: #f2f2f2;
    width: 80%;
    padding: 10px;
    text-align: left;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    transition: 0.3s;
}
.menu-lateral a:hover,
.menu-lateral a.ativo {
    background-color: #cfdaf7;
}
.conteudo {
    flex: 1;
    padding: 25px;
    overflow-y: auto;
}
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.titulo-area {
    display: flex;
    gap: 10px;
}
.icone {
    font-size: 1.5em;
}
.seletor-topo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.select-campus {
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #aaa;
    font-weight: 600;
    background: #fff;
}
.botao-calendario {
    background-color: #cfdaf7;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}
.botao-calendario:hover {
    background-color: #b8c8ff;
}
.icone-usuario {
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.popup-calendario {
    position: absolute;
    top: 100px;
    right: 40px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 100;
}
.escondido { display: none; }
.fechar-popup {
    background: #db4a3f;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
}
.fechar-popup:hover {
    background: #c0392b;
}
.painel {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.box {
    background: #dde3f7;
    padding: 20px;
    border-radius: 15px;
}
.linha-superior,
.linha-inferior {
    display: flex;
    gap: 20px;
}
.box.medio {
    flex: 1;
}
